
.anchor
.DS_Store
target/*
!target/types/
!target/idl/
**/*.rs.bk
node_modules
test-ledger
*.lock
.test-ledger
dist
wallet-secure.json
wallet.json
mint-secure.json
program.json
program-new.json
mint.json